# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Raw data
/data/raw/*
!/data/raw/.gitkeep

# Data outputs
*.db
*.sqlite
*.sqlite3

# Power BI temporary files
*.pbit.tmp

# OS files
.DS_Store
Thumbs.db
